body {
    padding-left : 25%;
    padding-right: 25%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: auto;
    box-sizing: border-box;
}

a:hover {
    color: red;
  }

#content p {
    background-color: rgba(205, 202, 202, 0.445);
    border-radius: 0.25em;
    padding: 0.8em;
}

.button {
    background-color: rgb(88, 83, 83);
}

.flex-container {
    display: flex;
  }
  
.flex-container > div {
    margin: 1em;
    padding: 1em;
}